  .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px auto;
      width: 300px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }

  img {
    height: 100px;
  }

  h1 {
      text-align: center;
      margin-bottom: 20px;
  }

  .bLogin {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #8044ac;
      /* Green */
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
  }

  .login-error {
      color: red;
      margin-top: 10px;
  }